
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(to right, #0f0719, #151239, #0f0719);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}
.divider {
    width: 80%; /* Adjust width */
    margin: 20px auto; /* Center it */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light-colored line */
  }
  
.section-heading{
    text-align: center;
    font-size: xx-larger;
}